.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.quiz h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.quizButton {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    background-color: #222831;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    width: 50vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quizButton:hover {
    background-color: #00ADB5;
}

.quizButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.navigation {
    position: absolute;
    bottom: 100px;
    padding-block: 100px;
    justify-content: space-between;
    display: flex;
    width: 50vw;
    gap: 10rem;
    margin-top: 20px;
}

.navButton {
    padding: 10px 20px;
    border: none;
    background-color: #00ADB5;
    color: white;
    font-size: 18px;
    border-radius: 50vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
}

.navButton:hover {
    background-color: #004e52;
}